@import "normalize.css";

html {
  scroll-behavior: smooth;
  background-color: #0d0d0d;
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: -webkit-fill-available;

  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
}

body::-webkit-scrollbar-thumb {
  background-color: #1abc9c;
  outline: 1px solid slategrey;
  width: 10px;
}
